body {
  position: relative;
  font-family: var(--ff-sans);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-400);
  color: var(--clr-neutral-300);
  background-color: var(--clr-neutral-0);
}
