.header {
  padding: 1.75em 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 2;

  &__logo {
    width: 124px;
    height: 24px;
  }

  // Desktop layout
  @include desktop {
    padding: 2.5em 2em;

    &__logo {
      width: 186px;
      height: 36px;
    }
  }
}
