.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-image: url('../public/images/mobile/image-header.jpg');
  background-size: cover;
  padding: 7.5em 1.5em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    margin-bottom: 1.5em;
    margin-inline: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.125em;
    letter-spacing: 0.2em;
    line-height: 1.25;
    font-family: var(--ff-serif);
    font-weight: var(--fw-black);
    color: var(--clr-neutral-0);
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100vw;
    padding-bottom: 16em;
    background-size: cover;

    &--1 {
      background-image: url('../public/images/mobile/image-transform.jpg');
    }

    &--2 {
      background-image: url('../public/images/mobile/image-stand-out.jpg');
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5em 1.5em;
  }

  &__heading {
    margin-bottom: 0.75em;
    font-family: var(--ff-serif);
    font-weight: var(--fw-black);
    font-size: 1.75em;
    text-align: center;
    color: var(--clr-neutral-700);

    &--small {
      margin-bottom: 1em;
      font-size: 1.6em;
    }
  }

  &__body {
    margin-bottom: 1.75em;
    text-align: center;
    line-height: 1.5;

    &--small {
      font-size: 0.85em;
      line-height: 1.6;
    }
  }

  &__link {
    font-family: var(--ff-serif);
    font-size: 0.85em;
    text-transform: uppercase;
    color: var(--clr-neutral-700);
    position: relative;

    &:hover::before {
      opacity: 1;
    }

    &--color--yellow {
      --line-color: var(--clr-accent-yellow);
    }

    &--color--red {
      --line-color: var(--clr-accent-soft-red);
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.5em;
      background-color: var(--line-color);
      opacity: 0.25;
      z-index: -1;
      border-radius: 0.5em;
      transform: translateY(160%) scaleX(1.15) scaleY(1.3);
      transition: opacity 300ms ease-in-out;
    }
  }

  &__inside-text {
    padding: 22em 1.5em 1.75em;
    background-size: cover;

    h3 {
      color: inherit;
    }

    &--1 {
      background-image: url('../public/images/mobile/image-graphic-design.jpg');
      color: var(--clr-accent-des-cyan);
    }

    &--2 {
      background-image: url('../public/images/mobile/image-photography.jpg');
      color: var(--clr-accent-dark-blue);
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;

  &__heading {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-family: var(--ff-serif);
    text-align: center;
    font-size: 0.9em;
    font-weight: var(--fw-black);
    letter-spacing: 0.25em;
    color: var(--clr-neutral-200);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1.5em;

  &__avatar {
    margin-bottom: 1.75em;
    border-radius: 50%;
  }

  &__body {
    margin-bottom: 1.75em;
    text-align: center;
    line-height: 1.5;
    color: var(--clr-neutral-400);
  }

  &__client-name {
    margin-bottom: 0.5em;
    font-family: var(--ff-serif);
    font-weight: var(--fw-black);
    text-align: center;
    color: var(--clr-neutral-700);
  }

  &__client-profession {
    text-align: center;
    font-size: 0.8em;
    color: var(--clr-neutral-200);
  }
}
