:root {
  // accent colors
  --clr-accent-soft-red: hsl(7, 99%, 70%);
  --clr-accent-yellow: hsl(51, 100%, 49%);
  --clr-accent-des-cyan: hsl(167, 40%, 24%);
  --clr-accent-dark-blue: hsl(198, 62%, 26%);
  --clr-accent-dark-cyan: hsl(168, 34%, 41%);
  --clr-accent-shiny-cyan: hsl(167, 44%, 70%);
  --clr-accent-moderate-cyan: hsl(168, 45%, 32%);
  // neutral colors
  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-neutral-0-25: hsla(0, 0%, 100%, 0.25);
  --clr-neutral-200: hsl(210, 4%, 67%);
  --clr-neutral-300: hsl(232, 10%, 55%);
  --clr-neutral-400: hsl(213, 9%, 39%);
  --clr-neutral-700: hsl(212, 27%, 19%);

  // font sizes
  --fs-400: 1.125rem;

  // font weight
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  // font families
  --ff-sans: 'Barlow', sans-serif;
  --ff-serif: 'Fraunces', serif;
}
